extends layout

block content
  .row
    .col.s12
      ul.tabs
        li.tab.col.s3
          a(href='#voting_tab') Votează
        li.tab.col.s3
          a(href='#leaderboard_tab') Clasament
        li.tab.col.s3
          a(href='#profile_tab') Profil
    #voting_tab.col.s12
      span#voting_title
        | Cât de sexy este #{current_person_name}?
        <!--//card-->
        a.waves-effect.waves-circle.waves-red.btn-floating.secondary-content(href='#!')
          i.material-icons add
    #leaderboard_tab.col.s12 Aici apar cele mai hot persoane
    #profile_tab.col.s12 Acesta e profilul tau
