/* default state, desktop */
.state-indicator {
    position: absolute;
    top: -999em;
    left: -999em;
    z-index: 1;
}

.row {
    max-width: 400px;
}

/* small desktop */
@media all and (max-width: 1200px) {
    .state-indicator {
        z-index: 2;
    }

    .row {
        max-width: 400px;
    }
}

/* tablet */
@media all and (max-width: 1024px) {
    .state-indicator {
        z-index: 3;
    }

    .row {
        max-width: 400px;
    }
}

/* mobile phone */
@media all and (max-width: 768px) {
    .state-indicator {
        z-index: 4;
    }

    .row {
        max-width: 400px;
    }
}

/*
When creating your CSS selector,
change "brown" to something of your choosing
*/
.waves-effect.waves-rate1 .waves-ripple {
    /* The alpha value allows the text and background color
 of the button to still show through. */
    background-color: rgba(10, 10, 172, 0.65);
}

#voting_card {
    width: 100%;
}

#voting_title {
    overflow-x: scroll;
    white-space: nowrap;
    font-size: 1.4rem;
}

.voting-buttons {
    /* padding-left: 0px; */
    /* list-style-type: none; */
    display: flex;
}

.voting-button-li {
    padding: 1px;
}

.waves-circle {
    width: 2.4em;
    height: 2.4em;
}

.leaderboard-item {
    width: 100%;
}

.leaderboard-list {
    margin-right: 0px;
}

.card.horizontal.leaderboard-item > .card-content {
    display: flex;
    flex: 1;
}

.card.horizontal.leaderboard-item > .card-content > .card-content-right {
    direction: rtl;
    flex: 1;
}

.card .card-content .card-title {
    line-height: 20px;
    /* overflow-x: scroll; */
    /* width: 250px; */
}

.card-content-left {
    font-size: 16px;
}

.card-content-left p {
    /* height: 42px; */
    line-height: 42px;
}

span.activator.card-title {
    overflow-x: scroll;
    max-width: 50%;
    white-space: nowrap;
    font-size: 22px;
}

.card-content-left > p {
    /* overflow-x: scroll; */
    /* white-space: nowrap; */
}

.leaderboard-item > i.material-icons.right {
    /* top: -100px; */
    transform: translateY(-1900%);
    margin-right: 20px;
    position: relative;
    background-color: #fff;
}

.extraContent {
    display: none;
}

#prevGivenScore {
    display: none;
}

#prevAvgScore {
    display: none;
}

.bigCardPic {
    width: 350px;
    height: 350px;
}

.smallCardPic {
    width: 60px;
    height: 82px;
}

.wrapperInlineBlock {
    display: inline-block;
}

.wrapperCenter {
    text-align: center;
}

#fb_login_button {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    background-color: #3b5998;
}

#fb_logout_button {
    display: none;
    font-size: 13px;
    background-color: #3b5998;
}

#my_score_wrapper {
    display: none;
}