/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
 */
/*
When creating your CSS selector,
change "brown" to something of your choosing
*/
.waves-effect.waves-rate1 .waves-ripple {
 /* The alpha value allows the text and background color
 of the button to still show through. */
  background-color: rgba(10, 10, 172, 0.65);
}

#voting_card {
  width: 100%;
}

.voting-buttons {
  padding-top: 20px;
  padding-left: 0px;
  /* list-style-type: none; */
  display: flex;
}

.voting-button-li {
  padding: 1px;
}

.waves-circle {
  width: 2.4em;
  height: 2.4em;
}

.leaderboard-item {
  width: 100%;
}

.leaderboard-list {
  margin-right: 10px;
}